# Allure TestOps release management
# Update this to install different release – check the release notes
# Release notes: https://docs.qameta.io/allure-testops/release-notes/

# in release 4.21.0 ROLE_AUDITOR  was updated to ROLE_GUEST

ALLURE_VERSION=4.21.0

# External Network Settings
# you need to update these settings accordingly to your network set up for Allure TestOps

ALLURE_HOST=allure.io
ALLURE_INSTANCE_PORT=80

ALLURE_PROTO=http
ALLURE_SESSION_DURATION=57600

# Update this parameter. It's important for interactions with other systems.
TZ="Europe/London"

# Standard Admin's Login name. This user allows you restoring the access to Allure TestOps
ALLURE_ADMIN=admin
# Update this before deployment
ALLURE_ADMIN_PASS=admin

# Crypto parameters
# Update this by generating a secret e.g. like `openssl rand -base64 16` and put the output here
ALLURE_JWT_SECRET=<SET_YOUR_SECRET_HERE>

# Update this. This is to be set once before deployment and you need to keep this password in a safe place.
# This parameter's value is used to encrypt sensitive data in the database. Losing this will require re-creation of all sensitive data.
ALLURE_CRYPTO_PASSWORD=<SET_YOUR_PASSWORD_HERE>

# Auto adding self signing SSL to JKS
## TLS_ENDPOINTS=ldaps.example.com:636,rabbit.example.com:5672
## TLS_DB_ENDPOINTS=db.example.com:5432

# TLS
ALLURE_SECURE_COOKIE=false

# Registry Settings
ALLURE_REGISTRY=docker.io
ALLURE_SLUG=allure

# Gateway
ALLURE_GATEWAY_PORT=8080
ALLURE_REDIS_HOST=redis
ALLURE_REDIS_PORT=6379
ALLURE_REDIS_PASS=Y5ZBqrcb68WKA9ZZ

# UAA
ALLURE_UAA_SERVICE_NAME=allure-uaa-service
ALLURE_UAA_CONTEXT_PATH=/uaa
ALLURE_UAA_DB_HOST=uaa-db
ALLURE_UAA_DB_NAME=uaa
ALLURE_UAA_DB_USERNAME=uaa
ALLURE_UAA_DB_PASS=CjAXjUav3eh3cmWk
ALLURE_UAA_PORT=8082
ALLURE_UAA_DB_PORT=5432

# do not change this parameter without consulting to the support
ALLURE_UAA_DB_MAXIMUMPOOLSIZE=7

# UAA user registration management
ALLURE_REGISTRATION_AUTOAPPROVE=false
ALLURE_REGISTRATION_ENABLED=false

# for releases before 4.21.0 
# ALLURE_REGISTRATION_DEFAULT_ROLE=ROLE_AUDITOR

# for 4.21.0 and further releases
ALLURE_REGISTRATION_DEFAULT_ROLE=ROLE_GUEST

# LDAP (Works when profile ldap enabled)
LDAP_URL=ldap://ldap.example.com:389

# only one of the two parameters below should be used

LDAP_USER_DN_PATTERNS='sAMAccountName={0}'
LDAP_USER_SEARCH_BASE='dc=example,dc=com'


LDAP_USER_SEARCH_FILTER='(&((objectClass=Person))(sAMAccountName={0}))'
LDAP_GROUP_SEARCH_BASE='ou=qa,ou=Security Groups,dc=example,dc=com'
LDAP_GROUP_SEARCH_FILTER='(&(objectClass=Group)(member={0}))'

LDAP_SYNC_ROLES=true
LDAP_GROUP_ROLE_ATTRIBUTE=cn
LDAP_UID_ATTRIBUTE=sAMAccountName
LDAP_MAPPING_ROLE_USERS=allure-users
LDAP_MAPPING_ROLE_ADMINS=allure-admins
# Default role, can be ROLE_GUEST/ROLE_USER/ROLE_ADMIN
LDAP_DEFAULT_ROLE=ROLE_GUEST
LDAP_LOGIN_SA=svc_allure
LDAP_LOGIN_SA_PASS=SecretPa$$w0rd

# 2023-07-22 
LDAP_LOWERCASEUSERNAMES=true
# this one is disabled in docker-compose.yml by default, use only if your password attribute has a custom name
#LDAP_PASSWORDATTRIBUTE=password


# Report
ALLURE_REPORT_SERVICE_NAME=allure-report-service
ALLURE_REPORT_CONTEXT_PATH=/rs
ALLURE_REPORT_DB_HOST=report-db
ALLURE_REPORT_DB_NAME=report
ALLURE_REPORT_DB_USERNAME=report
ALLURE_REPORT_DB_PASS=GnNc9QQcLzZfhVNn
ALLURE_REPORT_PORT=8081
ALLURE_REPORT_DB_PORT=5432
ALLURE_RABBIT_HOST=rabbitmq
ALLURE_RABBIT_PORT=5672
ALLURE_RABBIT_USER=allure
ALLURE_RABBIT_PASS=wNaxbX7wEhqA6ZDQ

# do not change these parameters without consulting to the support
ALLURE_REPORT_DB_MAXIMUMPOOLSIZE=10
ALLURE_REPORT_DB_CONNECTIONTIMEOUT=60000
ALLURE_RABBIT_MAXCONCURRENCY=5
ALLURE_RABBIT_PARSE_CONSUMERSPERQUEUE=10
ALLURE_RABBIT_STORE_CONSUMERSPERQUEUE=2

# S3
ALLURE_S3_PROVIDER=s3
ALLURE_S3_URL=http://minio-local:9000
# Leave as is

ALLURE_S3_BUCKET=allure-testops
ALLURE_S3_REGION=qameta-0
ALLURE_S3_ACCESS_KEY=WBuetMuTAMAB4M78NG3gQ4dCFJr3SSmU
ALLURE_S3_SECRET_KEY=m9F4qupW4ucKBDQBWr4rwQLSAeC6FE2L
ALLURE_S3_PATHSTYLE=true

# do not change these parameters without consulting to the support
ALLURE_S3_MAXCONCURRENCY=200
ALLURE_SCHEDULER_CLEANER_BLOB_BATCHSIZE=1000
ALLURE_TASKEXECUTOR_COREPOOLSIZE=200

RABBIT_ERLANG_COOKIE=fTwP5LxRVjZ9XJkyWmJSKR5hPDWMjkQx
