TZ="Europe/Moscow"

#Allure TestOps release management
ALLURE_VERSION=3.193.1

# Standard Login Admin
ALLURE_ADMIN=admin
#update before going to production
ALLURE_ADMIN_PASS=admin

# Crypto
ALLURE_JWT_SECRET=<SET_YOUR_SECRET_HERE>
ALLURE_CRYPTO_PASSWORD=<SET_YOUR_PASSWORD_HERE>

# TLS
ALLURE_SECURE_COOKIE=false
ALLURE_CERTIFICATE="./certs/fullchain.pem"
ALLURE_KEY="./certs/privkey.pem"

# Registry Settings
ALLURE_REGISTRY=dl.qameta.io
ALLURE_SLUG=qameta

# External Network Settings
ALLURE_HOST=allure.io
ALLURE_PROTO=http
ALLURE_SESSION_DURATION=57600

# Service Discovery
CONSUL_HOST=localhost
CONSUL_PORT=8500
CONSUL_SCHEME=http

# Gateway
ALLURE_GATEWAY_PORT=8080
ALLURE_REGISTRATION_AUTOAPPROVE=false
ALLURE_REGISTRATION_ENABLED=false
ALLURE_REDIS_HOST=redis
ALLURE_REDIS_PORT=6379
ALLURE_REDIS_PASS=Y5ZBqrcb68WKA9ZZ

# UAA
ALLURE_UAA_SERVICE_NAME=allure-uaa-service
ALLURE_UAA_CONTEXT_PATH=/uaa
ALLURE_UAA_DB_HOST=uaa-db
ALLURE_UAA_DB_NAME=uaa
ALLURE_UAA_DB_USERNAME=uaa
ALLURE_UAA_DB_PASS=CjAXjUav3eh3cmWk
ALLURE_UAA_PORT=8082
ALLURE_UAA_DB_PORT=5432


# Report
ALLURE_REPORT_SERVICE_NAME=allure-report-service
ALLURE_REPORT_CONTEXT_PATH=/rs
ALLURE_REPORT_DB_HOST=report-db
ALLURE_REPORT_DB_NAME=report
ALLURE_REPORT_DB_USERNAME=report
ALLURE_REPORT_DB_PASS=GnNc9QQcLzZfhVNn
ALLURE_REPORT=8081
ALLURE_REPORT_DB_PORT=5432
ALLURE_RABBIT_HOST=rabbitmq
ALLURE_RABBIT_PORT=5672
ALLURE_RABBIT_USER=allure
ALLURE_RABBIT_PASS=wNaxbX7wEhqA6ZDQ

# S3
# This variable is responsible for proxy S3 type (azure - for microsoft Azure, gcs - Google Cloud, s3 - for the rest of providers)
ALLURE_S3_PROVIDER=s3
ALLURE_S3_MINIO_URL=http://minio-proxy:9000
ALLURE_S3_URL=https://<your_S3_provider_API_endpoint_here>
ALLURE_S3_BUCKET=allure-testops
ALLURE_S3_REGION=fra1
ALLURE_S3_ACCESS_KEY=<your_access_key>
ALLURE_S3_SECRET_KEY=<your_secret_key>
# Do not change it, because it's Minio's parameter, not external S3's
ALLURE_S3_SECRET_PATHSTYLE=true

RABBIT_ERLANG_COOKIE=fTwP5LxRVjZ9XJkyWmJSKR5hPDWMjkQx